extends layout 

block content

    div
        form(action="" method="POST" class='item-form')
            h1.main-title=title    
            label(for='name') Name: 
            input(type='text', required, name='name', value=(distillery === undefined ? '': distillery.name))
            
            label(for='location') Location: 
            input(type='text', required, name='location', value=(distillery === undefined ? '': distillery.location))

            button(type='submit' class='button') Submit

        if errors 
            ul 
                for error in errors
                    li.validation-error!= error.msg