extends layout 

block content
    div
        form(action="" method="POST")
            label(for='name') Name: 
            input(type='text', name='name', value=(distillery === undefined ? '': distillery.name))
            
            label(for='location') Location: 
            input(type='text', name='location', value=(distillery === undefined ? '': distillery.location))

            button(type='submit') Submit

        if errors 
            ul 
                for error in errors
                    li!= error.msg