extends layout

block content
    div
        h1= title
        div.distillery-list
            if (distilleries)
                for distillery in distilleries
                    div.distillery-card
                        h4 
                            a(href=distillery.url) #{distillery.name}
                        p= distillery.location
            else 
                p There are no distilleries! 
        a(href='/distiller/create') +New Distillery