doctype html
html
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav 
      a(href='/' class='nav-item nav-home') Home
      a(href='/whisky/all' class='nav-item') Whiskies
      a(href='/category/all' class='nav-item') Categories
      a(href='/distillery/all' class='nav-item') Distilleries
    block content
  footer
    div.footer
      .navigation 
        h3.footer-title Contribute
        ul 
          li 
            a(href='/whisky/create') Add New Whisky
          li 
            a(href='/category/create') Add New Category
          li 
            a(href='/distillery/create') Add New Distillery
      .about-us
        h3.footer-title About Us
        ul 
            li Our History
            li FAQ
            li Privacy Policy
      .follow
        h3.footer-title Follow Us
        div.follow-items
          i(class="bi bi-twitter")
          i(class="bi bi-facebook")
          i(class="bi bi-reddit")
          i(class="bi bi-youtube")
      

