@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

:root {
  --main-ac-colour: rgb(80, 80, 80);
  --main-bg-colour: rgb(216, 216, 216);
  --main-actxt-colour: rgb(225, 225, 225);
  --card-bg-colour: rgb(235, 235, 235);
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-bg-colour);
  border: 1px solid var(--main-ac-colour);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-ac-colour);
}

.content {
  min-height: 100%;
  background-color: var(--main-bg-colour);
}

.content-inside {
  padding-bottom: 95px;
}

.footer {
  height: 95px;
  margin-top: -95px;
}

body {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #888888;
}

.img-small {
  height: 100px;
  width: 100px;
  object-fit: scale-down;
  mix-blend-mode: multiply;
}

.whisky-card {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 5px 1px #888888;
  background-color: var(--card-bg-colour);
  border-radius: 5px;
  width: 200px;
  height: 240px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.whisky-card-lower {
  border: 1px solid #888888;
  background-color: var(--main-bg-colour);
  border-radius: 3px;
  padding: 5px;
}

.whisky-card-title {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.whisky-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 5px;
  max-width: 80%;
  margin: auto;
}

.product {
  max-width: 90%;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--card-bg-colour);
}

.product-info {
  padding: 5px;
  background-color: var(--main-bg-colour);
  max-width: 90%;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 5px;
}

.product > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  object-fit: scale-down;
  mix-blend-mode: multiply;
}

.product-description {
  margin: auto;
  margin-bottom: 10px;
  max-width: 95%;
}

.nav {
  background-color: var(--main-ac-colour);
  height: 30px;
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 5px;
  color: var(--main-actxt-colour);
}

.nav-home {
  flex-grow: 1;
  text-align: start;
}

form {
  display: flex;
  flex-direction: column;
}

form > input,
form > select {
  width: 300px;
  margin: 5px auto;
}

form > button {
  width: 100px;
  margin: auto;
}

.button {
  display: block;
  border: 1px solid black;
  background-color: var(--main-ac-colour);
  color: var(--main-actxt-colour);
  padding: 5px 10px;
  border-radius: 50px;
  margin: 10px auto;
  width: 225px;
}

.button-small {
  width: 100px;
}

.add-section {
  width: 80%;
  border-top: 1px solid rgb(100, 100, 100);
  margin: auto;
  margin-top: 25px;
  padding: 10px 0px;
}

.category-card {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 5px 1px #888888;
  background-color: var(--card-bg-colour);
  border-radius: 5px;
  width: 300px;
  height: 125px;
  display: flex;
  flex-direction: column;
}

.upper-category-card {
  flex-grow: 1;
}

.lower-category-card {
  display: flex;
  flex-direction: row;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 5px;
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
  justify-content: space-evenly;
}

.distillery-card {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 5px 1px #888888;
  background-color: var(--card-bg-colour);
  border-radius: 5px;
  width: 300px;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.upper-distillery-card {
  flex-grow: 1;
}

.lower-distillery-card {
  display: flex;
  flex-direction: row;
}

.distillery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 5px;
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
  justify-content: space-evenly;
}

.footer {
  width: 100%;
  background-color: var(--main-ac-colour);
  color: var(--main-actxt-colour);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 14px;
}

.navigation > ul > li > a {
  color: var(--main-actxt-colour);
}

.navigation > ul > li > a:hover {
  color: #888888;
}

.about-us {
  border-left: 1px solid black;
  border-right: 1px solid black;
  flex-grow: 1;
}

.navigation {
  flex-grow: 1;
}

.follow {
  flex-grow: 1;
}

.follow-items {
  /* display: flex; */
  flex-direction: row;
  justify-content: space-evenly;
}

.follow-items > i {
  font-size: 24px;
  margin-right: 10px;
}

.footer-title {
  margin: 10px 0px;
}

.main-title {
  padding-top: 15px;
  max-width: 95%;
  margin: auto;
}

.main-subtitle {
  margin-top: 10px;
  margin-bottom: 10px;
}

.welcome {
  background-image: url("/images/barrel.jpeg");
  background-size: cover;
  background-position-y: 50%;
  color: white;
  height: calc(100vh - 125px);
}

.welcome-message {
  position: relative;
  top: 43%;
}

.welcome-message {
  font-size: 24px;
  text-shadow: 0px 0px 2px white, 2px 2px 10px #888888;
  /* text-shadow: ; */
  color: maroon;
}

@media (min-width: 650px) {
  .product {
    max-width: 550px;
  }
}
