* {
  padding: 0;
  margin: 0;
}

body {
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #888888;
}

.img-small {
  height: 100px;
  width: 100px;
  object-fit: scale-down;
}

.whisky-card {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 5px 1px #888888;
  border-radius: 5px;
  width: 200px;
  height: 250px;
  margin: auto;
  margin-bottom: 15px;
}

.whisky-list {
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  margin: auto;
}

.product > img {
  height: 400px;
  width: 400px;
  object-fit: scale-down;
}

.product-description {
  margin: auto;
  margin-bottom: 10px;
  max-width: 500px;
}

.category-card {
  margin-top: 10px;
}

.category-list {
  margin-bottom: 10px;
}

.distillery-card {
  margin-top: 10px;
}

.distillery-list {
  margin-bottom: 10px;
}

.nav {
  background-color: rgb(151, 151, 151);
  height: 30px;
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 5px;
}

.nav-home {
  flex-grow: 1;
}

form {
  display: flex;
  flex-direction: column;
}

form > input,
form > select {
  width: 300px;
  margin: 5px auto;
}

form > button {
  width: 100px;
  margin: auto;
}

.button {
  display: block;
  border: 1px solid black;
  background-color: rgb(211, 211, 211);
  padding: 5px 10px;
  border-radius: 50px;
  margin: 10px auto;
  width: 225px;
}

.add-section {
  width: 80%;
  border-top: 1px solid rgb(200, 200, 200);
  margin: auto;
  margin-top: 10px;
  padding-top: 10px;
}
