@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Oswald:wght@300;700&display=swap");

:root {
  --main-ac-colour: rgb(80, 80, 80);
  --main-bg-colour: rgb(216, 216, 216);
  --main-actxt-colour: rgb(225, 225, 225);
  --card-bg-colour: rgb(235, 235, 235);
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Oswald", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--main-bg-colour);
  border: 1px solid var(--main-ac-colour);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: var(--main-ac-colour);
}

.content {
  min-height: 100%;
  background-color: var(--main-bg-colour);
}

.content-inside {
  padding-bottom: 120px;
}

.footer {
  height: 120px;
  margin-top: -120px;
}

body {
  text-align: center;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #888888;
}

.styled-white-text {
  text-shadow: 0px 0px 2px #888888, 2px 2px 10px #888888;
  color: white;
}

.img-small {
  height: 100px;
  width: 100px;
  object-fit: scale-down;
  mix-blend-mode: multiply;
}

.whisky-card {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 5px 1px #888888;
  background-color: var(--card-bg-colour);
  border-radius: 5px;
  width: 200px;
  height: 260px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.whisky-card-lower {
  border: 1px solid #888888;
  background-color: var(--main-bg-colour);
  border-radius: 3px;
  padding: 5px;
}

.whisky-card-title {
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.whisky-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 5px;
  max-width: 80%;
  margin: auto;
}

.product {
  max-width: 90%;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--card-bg-colour);
}

.product-info {
  padding: 5px;
  background-color: var(--main-bg-colour);
  max-width: 90%;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 5px;
}

.product > img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  object-fit: scale-down;
  mix-blend-mode: multiply;
}

.product-description {
  margin: auto;
  margin-bottom: 10px;
  max-width: 95%;
}

.nav {
  background-color: var(--main-ac-colour);
  height: 30px;
  display: flex;
  align-items: center;
}

.nav-item {
  padding: 5px;
  color: var(--main-actxt-colour);
}

.nav-home {
  flex-grow: 1;
  text-align: start;
}

.item-form {
  display: flex;
  flex-direction: column;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--card-bg-colour);
  max-width: 90%;
  min-width: 350px;
}

.item-form > input,
.item-form > select,
.item-form > textarea {
  width: 300px;
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  background-color: white;
}

.item-form > button {
  width: 100px;
  margin: 5px auto;
}

.button {
  display: block;
  border: 1px solid black;
  background-color: var(--main-ac-colour);
  color: var(--main-actxt-colour);
  padding: 5px 10px;
  border-radius: 50px;
  margin: 10px auto;
  width: 225px;
}

.button-small {
  width: 100px;
}

.add-section {
  width: 80%;
  border-top: 1px solid rgb(100, 100, 100);
  margin: auto;
  margin-top: 25px;
  padding: 10px 0px;
}

.category-card {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 5px 1px #888888;
  background-color: var(--card-bg-colour);
  border-radius: 5px;
  width: 300px;
  height: 125px;
  display: flex;
  flex-direction: column;
}

.upper-category-card {
  flex-grow: 1;
}

.lower-category-card {
  display: flex;
  flex-direction: row;
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 5px;
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
  justify-content: space-evenly;
}

.distillery-card {
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 5px 1px #888888;
  background-color: var(--card-bg-colour);
  border-radius: 5px;
  width: 300px;
  height: 100px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.upper-distillery-card {
  flex-grow: 1;
}

.lower-distillery-card {
  display: flex;
  flex-direction: row;
}

.distillery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 5px;
  max-width: 80%;
  margin: auto;
  margin-top: 10px;
  justify-content: space-evenly;
}

.footer {
  width: 100%;
  background-color: var(--main-ac-colour);
  color: var(--main-actxt-colour);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  font-size: 14px;
}

.navigation > ul > li > a {
  color: var(--main-actxt-colour);
}

.navigation > ul > li > a:hover {
  color: #888888;
}

.about-us {
  border-left: 1px solid black;
  border-right: 1px solid black;
  flex: 1 1 0px;
}

.navigation {
  flex: 1 1 0px;
}

.follow {
  flex: 1 1 0px;
}

.follow-items {
  flex-direction: row;
  max-width: 95%;
  justify-content: space-evenly;
  margin: auto;
}

.follow-items > i {
  font-size: 24px;
  margin-right: 10px;
}

.footer-title {
  margin: 10px 0px;
}

.page-title {
  font-family: "Lobster", cursive;
  padding-top: 15px;
  max-width: 95%;
  margin: auto;
}

.main-title {
  padding-top: 15px;
  max-width: 95%;
  margin: auto;
}

.main-subtitle {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 90%;
}

.welcome-title {
  position: relative;
  z-index: 1;
  font-family: "Lobster", cursive;
  padding-top: 35px;
  font-size: 56px;
  text-shadow: 0px 0px 2px #9c7d7d, 2px 2px 4px #c5bb82;
  color: white;
}

.welcome-subtitle {
  position: relative;
  z-index: 1;
  font-family: "Lobster", cursive;
  font-size: 20px;
  text-shadow: 0px 0px 2px #9c7d7d, 2px 2px 4px #c5bb82;
  color: white;
  margin-bottom: 20px;
}

.options-subtitle {
  font-size: 36px;
  text-shadow: 0px 0px 2px #888888, 2px 2px 10px #888888;
  color: white;
  margin-top: 50px;
}

.glencairn {
  display: none;
  margin: auto;
  height: 150px;
  width: 150px;
  mix-blend-mode: multiply;
}

.glencairn:hover {
  animation: glass-tip;
  animation-duration: 1.5s;
}

@keyframes glass-tip {
  0% {
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  100% {
  }
}

.category-card-description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-page {
  margin: 5px auto;
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--card-bg-colour);
  max-width: 80%;
  min-width: 350px;
  padding: 0px 10px;
}

.delete-item-info {
  margin: 5px auto;
}

.warning-large {
  color: red;
  font-size: 18px;
  font-weight: 800;
  padding: 5px;
  margin-bottom: 10px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.to-be-deleted > p {
  margin-bottom: 5px;
}

.to-be-deleted {
  padding-bottom: 15px;
}

.delete-confirm {
  margin-bottom: 10px;
}

.delete-confirm > input {
  width: 300px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 2px;
  background-color: white;
  text-align: center;
}

.validation-error {
  color: red;
  font-size: 18px;
}

.welcome-page {
  position: relative;
  max-width: 80%;
  text-align: center;
  margin: auto;
}

.browse-by-options {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px 10px;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 15px;
  max-width: 650px;
}

.option-card {
  border: 1px solid;
  box-shadow: 5px 10px 5px 1px #888888;
  background-color: var(--card-bg-colour);
  border-radius: 5px;
  width: 200px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-bottom: 10px;
}

.option-image {
  display: block;
  margin: auto;
  height: 120px;
  width: 180px;
  object-fit: cover;
  object-position: top;
  border-radius: 5px;
}

.count {
  font-size: 40px;
}

.stripe {
  position: absolute;
  top: 20px;
  height: 200px;
  width: 100%;
  transform: skew(10deg);
  background-color: var(--main-ac-colour);
  z-index: 0;
}

.none-found {
  font-size: 24px;
}

.sort-menu-icon {
  position: absolute;
  top: 40px;
  right: 25px;
  font-size: 32px;
}

.sort-menu-icon:hover .sort-menu {
  display: block;
  transition-delay: 5s;
}

.sort-menu {
  display: none;
  position: absolute;
  background-color: white;
  font-size: 16px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid black;
  width: 200px;
  right: -5px;
  z-index: 1;
}

@media (min-width: 650px) {
  .product {
    max-width: 550px;
  }

  .item-form {
    max-width: 585px;
  }

  .delete-page {
    max-width: 585px;
  }
}

@media (min-width: 543px) {
  .stripe {
    position: absolute;
    top: 20px;
    height: 120px;
    width: 520px;
    max-width: 615px;
    transform: skew(10deg) translateX(260px);
    background-color: var(--main-ac-colour);
    z-index: 0;
    right: 50%;
  }
}

@media (min-width: 930px) {
  .glencairn {
    display: inline-block;
    margin: 10px auto;
    height: 150px;
    width: 150px;
    mix-blend-mode: multiply;
    animation: glass-return;
    animation-duration: 0.5s;
  }
}
